header {
    top: 0;
    width: 100%;
    height: fit-content;
    color: #fff;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);;
}

.brand h1 {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.brand h1::before {
    content: "";
    display: inline-block;
    background-image: url(../../assets/images/map-marker.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    padding-right: 8px;
}

.acess button {
    background-color: #fff;
    color: #00c7c7;
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
}

.acess button:hover {
    opacity: 0.9;
}